__pycache__
.DS_Store
.venv
outputs
multirun
wandb
*.egg-info
.vscode
logs
cache

# model outputs / artifacts
samples*.pt
corrected_samples*.pt
metrics*.json
metrics.csv
run_logs.txt

# local model weights
weights/

# local cloned dependency

/logs-train-slurm/
/corrected_sample_our_pt/
/gemma_metrics/
/our-pt-checkpoints/
samples.json
samples_correct.json

